#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if traefik_enable_prometheus %}
http:
  routers:
    metrics:
      rule: {{ traefik_metrics_rule }}
      entryPoints:
        {% for entrypoint in traefik_metrics_entrypoints %}
        - {{ entrypoint }}
        {% endfor %}
      service: prometheus@internal
      {% if traefik_metrics_enable_tls %}
        {% if not traefik_manual_cert_management_enabled|bool %}
      tls:
        certResolver: letsencrypt
        {% else %}
      tls: {}
        {% endif %}
      {% endif %}
{% endif %}
