#jinja2: lstrip_blocks: "True", trim_blocks: "True"
entryPoints:
{% for entrypoint in traefik_entrypoints %}
  {{ entrypoint.name }}: {{ entrypoint.config | tojson }}
{% endfor %}

ping:
  entryPoint: "ping"

{% if traefik_enable_prometheus %}
metrics:
  prometheus:
    manualRouting: true
{% endif %}

{% if traefik_enable_api %}
api:
  dashboard: {{ traefik_enable_api_dashboard }}
  debug: {{ traefik_enable_api_debug }}
{% endif %}

{% if traefik_acme_enabled %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_acme_email }}
      {% if traefik_acme_challenge == 'HTTP-01'%}
      httpChallenge:
        entryPoint: web
      {% elif traefik_acme_challenge == 'DNS-01' %}
      dnsChallenge:
        provider: {{ traefik_acme_dns_provider }}
      {% elif traefik_acme_challenge == 'TLS-ALPN-01' %}
      tlsChallenge: {}
      {% endif %}
{% endif %}

providers:
  {% if traefik_enable_docker %}
  docker:
    exposedByDefault: false
  {% endif %}
  file:
    directory: {{ traefik_base_path }}/config.d

log:
  level: {{ traefik_log_level }}

{% if traefik_enable_access_log %}
accessLog: {}
{% endif %}
