[Interface]
Address = {{ item.ip_addresses_cidr | join (', ') }}
ListenPort = {{ item.peering_port }}
PrivateKey = {{ wg_privkeys[item.iface_name] }}
{% if item.mtu is defined %}
MTU = {{ item.mtu }}
{% endif %}
{% if item.post_up is defined %}
PostUp = {{ item.post_up }}
{% endif %}
{% if item.pre_down is defined %}
PreDown = {{ item.pre_down }}
{% endif %}
{% if item.table is defined %}
Table = {{ item.table }}
{% endif %}

{% for peer in item.peers %}
[Peer]
PublicKey = {{ hostvars[peer].wg_pubkeys[item.iface_name] | default(wireguard_config_directory[peer][item.iface_name].wg_pubkey) }}
{% if item.psk_enabled is defined %}
PreSharedKey = {{ hostvars[peer].pre_shared_keys[item.iface_name] | default(wireguard_config_directory[peer][item.iface_name].pre_sharing_key) }}
{% endif %}
AllowedIPs = {{
    (
      (
        (
          hostvars[peer].wg_ifaces
          | selectattr('iface_name', 'equalto', item.iface_name)
          | map(attribute='ip_addresses_cidr')
          | first
          | list
        ) | default(
          wireguard_config_directory[peer][item.iface_name].ip_addresses_cidr
          | list
        )
      )
      + (
          item.allowed_ips | default([])
        )
        | list
    )
    | join(', ')
}}
Endpoint = {{
    (
      [ (
          hostvars[peer].wg_ifaces
          | selectattr('iface_name', 'equalto', item.iface_name)
          | map(attribute='peering_ip')
          | first
        ),
        (
          hostvars[peer].wg_ifaces
          | selectattr('iface_name', 'equalto', item.iface_name)
          | map(attribute='peering_port')
          | first
        )
      ]
    ) | default(
      [ wireguard_config_directory[peer][item.iface_name].peering_ip,
        wireguard_config_directory[peer][item.iface_name].peering_port
      ]
    ) | join(':')
}}

{% endfor %}
